.logo {
	font-size: 2rem;
	font-family: 'Monofett', cursive;
	margin: 10px 0 0 20px;
}

.logo2 {
	font-size: 2rem;
	font-family: 'Monofett', cursive;
	margin: 0px 0 0 20px;
	margin-left: 42%;
}

.loginMain {
	margin-top: 5%;
	position: fixed;
	text-align: center;
	left: 25%;
}

.main {
	margin-top: 5%;
	position: fixed;
	top: 10%;
}

.button {
	margin-left: 4%;
	background-color: cornflowerblue;
	padding: 0px 5px;
	border-radius: 5px;
	cursor: pointer;
	color: white !important;
}

.Button:hover {
	color: #d13310;
}

.nav {
margin-right: 900px;
text-align: center;
	display: flex;
	height: 50px;
}

.currentButton {
	margin-left: 5%;
	background-color: LightSkyBlue;
	padding: 0px 5px;
	border-radius: 5px;
}

.background {
	margin: 0 0 0 -10px;
	height: 100vh;
	width: 230vh;
	position: fixed;
}

.text {
	color: white;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.quote {
	font-family: 'Roboto', sans-serif;
	color: white;
	width: 400px;
	margin: 0 3rem;
}

.wrap {
	width: 450px;
	margin: 0 40%;
}

.loginButton {
	position: fixed;
	left: 35%;
	top: 30%;
	margin-top: 1%;
}

.form-control {
	width: 500px;
	height: 56px;
	border-radius: 4px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.3);
	transition: 0.3s all;
}

.form-control:hover {
	background-color: rgba(255, 255, 255, 0.45);
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

::placeholder {
	color: #95cff4;
}

.urlButton {
	display: block;
	/* margin: 15px auto 30px auto; */
	background-color: #95cff4;
	border-radius: 20px;
	border: 1px solid #95cff4;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Varela Round', sans-serif;
	font-size: .95em;
	padding: 7px 15px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #459cc4;
}

.urlButton:hover {
	background-color: #7a5ac5;
}

.weather {
	margin: 0 0 10px 0;
	color: #ffff

}

.slider {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.text-value {
	color: 'white';
}

.footer {
	position: fixed;
	bottom: 0%;
	color: rgb(255, 255, 255);
	background-color: rgb(15, 39, 117);
	width: 100%;
	left: 0%;
	display: flex;
}

.footer-text {
	margin-top: 0.5%;
	margin-left: 1%;
}
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

#comment {
	background-color: cornsilk;
	color: darkblue;
	direction: row;
	justify-content: space-between;
	align-items: center;
}
#bigWhiteboard {
	margin-top: auto;
	position: absolute;
right: 100px;
	text-align: right;
	padding-top: 200px;
}
#comments {
	overflow: auto
}

div.scroll {
 background-color: rgba(0, 0, 0, 0.05);
  width: 600px;
  height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
	color: #ffff;
}
hr {
	color: #ffffff
}
body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

#form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
#input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
#input:focus { outline: none; }
#form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages > li { padding: 0.5rem 1rem; }
#messages > li:nth-child(odd) { background: #efefef; }
#bigWhiteboardBg {
height: 600px;
width: 2200px;
margin-top: 250px;
margin-left: 300px;
}
#title{
	margin-left: 620px;
	color: rgb(179, 179, 179)
}
#resource {
	margin-left: 100px;
	padding-top: 10px;
}
/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
#comments {
	height: 400px;
	width: 500px;
	overflow-y: scroll;
	margin-left: 1100px;
	margin-bottom: 2100px;
	outline: 5px solid rgb(17, 71, 107);
	color:#ffff
}

#friendsPost {
	text-align: center;
margin-left: 200px;
}
#comment {
	height: 400px;
	width: 600px;
	overflow-y: scroll;
	margin-top: 30px;
	margin-left: 500px;
	margin-bottom: 500px;
	outline: 5px solid rgb(17, 71, 107);
	color: #ffff;
	background-color:rgba(0, 0, 0, 0.05)	;
}
#widget {
	margin-left: 1500px;
}
#resources {
	color: #ffff;
	margin-top: 10px;
	margin-bottom: 10px;
}
#danger {
	color: red
}
.link {
	color: rgb(70, 189, 173)
}
#profile {
	margin-left: 970px;
	margin-bottom: 50px;

}
#profilePic {

margin-top: 20px;
margin-right: 25px;

	height: 50px;
	width: 50px;
}
#ntree {
margin-left: 680px;
}
#publicPosts {
margin-left: 1000px;
width: 600px;
margin-bottom: 15px;
}
#journal {
	margin-left: 200px;
}
#mood {
	margin-left: 95px;
}
#cb {
	color: #ffff;
	margin-bottom: 60px;
	margin-top: 10px;
	margin-left: 160px;
}
#sub {
	margin-left: 160px;
}
#prompt{
	color:#ffffff;
	overflow-y: auto;
}
#widget {
	margin-left: 1475px;
}
#memo {
	outline: 5px solid rgb(247, 250, 252);
}
.likedQuotes {
	outline: 5px solid rgb(247, 250, 252);
	margin-top: 100px;
	overflow-y: scroll;
	height: 200px;
	width: 450px;
}
#lq {
	outline: 5px solid rgb(247, 250, 252);
	margin-bottom: 19px;
}
#ideas {
	margin-left: 1000px;
}
#entryWidget {
	margin-left: 50px;
}
